<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


  <link type="text/css" rel="stylesheet" href="../css_files/adminDashBoard.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
</head>

<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../js/adminDashBoard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('select').material_select();
  });
</script>


<body>

<ul id="slide-out" class="side-nav fixed z-depth-2">
  <li class="center no-padding">
    <div class="indigo darken-2 white-text" style="height: 128px;">
      <div class="row">
        <img style="margin-top: 3%;" width="100" height="100" src="C:\Users\dilip\Documents\nodeprojects\back end\public\images\doctor.png" class="circle responsive-img" />

        <p style="margin-top: -11%;">
          DOCTORS' PAGE
        </p>
      </div>
    </div>
  </li>

  <li id="dash_dashboard"><a class="waves-light" href="#!"><b>----------Doctor Dashboard----------</b></a></li>

  <ul class="collapsible" data-collapsible="accordion">
    <li id="dash_users">
      <div id="dash_users_header" class="collapsible-header waves-light" data-collapsible="accordion"><b ng-click="flag = 1">Diagnosis</b></div>
      <div id="dash_users_body" class="collapsible-body">
        <ul>
          <li id="users_seller">
            <a class="waves-light" style="text-decoration: none;" href="#!">$$</a>
          </li>

          <li id="users_customer">
            <a class="waves-light" style="text-decoration: none;" href="#!">$$</a>
          </li>
        </ul>
      </div>
    </li>


    <li id="dash_products">
      <div id="dash_products_header" class="collapsible-header waves-light"><b>Nurse</b></div>
      <div id="dash_products_body" class="collapsible-body">
        <ul>
          <li id="products_product">
            <a class="waves-light" style="text-decoration: none;" href="#!">$$</a>
            <a class="waves-light" style="text-decoration: none;" href="#!">$$</a>
          </li>
        </ul>
      </div>
    </li>

  </ul>
</ul>

<header>
  <ul class="dropdown-content" id="user_dropdown">
    <li><a class="indigo-text" href="#!">Profile</a></li>
    <li><a class="indigo-text" href="#!">Logout</a></li>
  </ul>

  <nav class="indigo" role="navigation">
    <div class="nav-wrapper">
      <a data-activates="slide-out" class="button-collapse show-on" href="#!"><img style="margin-top: 17px; margin-left: 5px;" src="https://res.cloudinary.com/dacg0wegv/image/upload/t_media_lib_thumb/v1463989873/smaller-main-logo_3_bm40iv.gif" /></a>

      <ul class="right hide-on-med-and-down">
        <li>
          <a class='right dropdown-button' href='' data-activates='user_dropdown'><i class='material-icons'>account_circle</i></a>
        </li>
      </ul>

      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <nav>
    <div class="nav-wrapper indigo darken-2">
      <a style="margin-left: 20px;" class="breadcrumb" href="#!">Doctor</a>
      <a class="breadcrumb" href="#!">Index</a>

      <div style="margin-right: 20px;" id="timestamp" class="right"></div>
    </div>
  </nav>
</header>


<main ng-show=" flag === 1">
  <div class="row">
    <div class="col s6" >

      <div class="row" style="margin-top: 50px; margin-left: 50px;" >
        <a>
          <div align="center" style="padding: 20px;" class="grey lighten-3 col s5 waves-light" >
            <img  style="height: 100px;" src="C:\Users\dilip\Documents\nodeprojects\back end\public\images\stethoscope.png" class="responsive-img" /><br>
            <span class="indigo-text text-lighten-1"><h5 ng-click="diagonsis()" >Diagnosis</h5></span>
          </div>
        </a>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">&nbsp;</div>

      </div>   
    </div>
  </div>

</main>


<main ng-show="flag == 2 ">
  <div class="row">
    <div class="col s12">
      <div class="container" >
        <h4 class="teal-text">Prescribe Tests</h4>

        <table class="highlight centered">
          <thead>
          <tr>
            <th>Patient Id</th>
            <th>Test Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><input class="form-control centered" ng-model="form.patientId"></td>
            <td><input class="form-control" ng-model="form.testName"></td>
            <td><button class="btn btn-primary" ng-click="add()">Done</button></td>
            <!--<td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td> -->
          </tr>
          <tr ng-repeat="meds in medslist">
            <td>{{meds.patientId}}</td>
            <td>{{meds.testName}}</td>
<!--
            <td><button class="btn btn-danger" ng-click="remove(meds._id)">Remove</button></td>
-->
          </tr>
          </tbody>
        </table>




        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
      </div>
    </div>
</main>

</body>
</body>

</html>
