<!DOCTYPE html>
<html lang="en">

    <head>
      <title>The Materialize NavBar Example</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">      
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>    
      
      <script type="text/javascript">
        $(document).ready(function() {
    $('select').material_select();

  });



      </script>
      </head>


<body style="background-color: rgb(1,19,193)">


 <nav style="margin-top:10px;">
    <div class="nav-wrapper white">
      <a  class="" href="#" class="brand-logo"> <img style="margin-left:80px;" src="../images/logo-wide.png"> </a>
      <!--<ul id="nav-mobile" class="right hide-on-med-and-down" style="margin-right:50px;">
        <li><a href="sass.html"> <span class ="teal-text"> Sass</span></a></li>
        <li><a href="badges.html"> <span class ="teal-text">Components </span></a></li>
        <li><a href="collapsible.html"> <span class ="teal-text">JavaScript </span></a></li>
      </ul>-->
    </div>
  </nav>

<br><br>

<div class ="container" >

   <div class="row card-panel teal-text">
         <form class="col s12" ng-submit="submit()">
           

           <div class="row">
          <div class="col s12" style="margin-left:60px;">

                        <img  src="../images/profile.png"  style="width:450; height:200px;margin-left:270px;">

          </div>

        </div>

            <div class="row">
               <div class="input-field col s5">
                  <i class="material-icons prefix">account_circle</i>
                  <input placeholder="Username" ng-model="form.name" id="name" type="text" class="active validate" value="rajesh" required>
                  <label for="name">Name</label>
               </div>
               <div class="input-field col s1">     
                        
               </div>
               <div class="input-field col s5 ">     
                 <i class="material-icons prefix">lock-outline</i>
                  <label for="password">Password</label>
                  <input id="password" ng-model="form.password" type="password" placeholder="Password" class="validate" required>
               </div>
            </div>
            <div class="row ">
                <div class="input-field col s5">
                  <i class="material-icons prefix">email</i>
                  <input placeholder="email"  ng-model="form.emailAddress" id="name" type="text" class="active validate" required>
                  <label for="name">email</label>
               </div>
               <div class="col s1">
                   <span class="white-text">wdvsd</span>
               </div>
               <div class="input-field col s5">    
                     <i class="material-icons prefix">phone</i>
                  <label for="password">mobileNo</label>
                  <input id="password"  ng-model="form.mobileNo" type="number" placeholder="mobile No" class="validate" required>
               </div>
            </div>

            <div class="row">

               <div class="input-field col s5" style="margin-left:20px;">    
                     
                  <label for="address">Address</label>
                  <input id="address" ng-model="form.address" type="text" placeholder="Address" class="validate" required>
               </div> 

            </div>



            <div class="row">
                <div class="col s12 center">

                     <button class="pink btn waves-effect waves-light" type="submit" name="action">Save changes
                        <i class="material-icons right">send</i>
                     </button>
                </div>
            </div >

        </form>
            </div>


         </form>
    </div>





</div>




 <!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn" href="#modal1">Modal</a>-->



</body>
</html>